<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- fullCalendar -->
  <link rel="stylesheet" href="../plugins/fullcalendar/main.css">
  <link rel="stylesheet" href="../css/calendar.css">
<!--   <link rel="stylesheet" href="" -->
  <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>

</head>
<body class="hold-transition sidebar-mini">
  <div id="color-dialog" title="색상선택" style="display:none" data-id=0>
  		<a class="pallete color1" href="#" title ="색상1" data-color="blue"></a>
  		<a class="pallete color2" href="#" title ="색상2" data-color="gold"></a>
  		<a class="pallete color3" href="#" title ="색상3" data-color="Greenyellow"></a>
  		<a class="pallete color4" href="#" title ="색상4" data-color="red"></a>
  		<a class="pallete color5" href="#" title ="색상5" data-color="orange"></a>	
  		<a class="pallete color6" href="#" title ="색상6" data-color="Plum"></a>
  </div>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>일정관리</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2" >
            <div class="sticky-top mb-3" >
              <div class="card" style="position:relative">
              	<div class="card-header">
              		<a href="/insertCal"><h4 class="card-title">일정등록</h4></a>
              	</div>
              </div>
              <!-- 내 일정 카드 -->
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">내 일정목록</h4>
                </div>
                <div class="card-body" style="position:relative">
                  <!-- the events -->
                  <div id="external-events">
                    <div class="checkbox">
						<table width = "100%">
							<tbody>
								<th:block th:each = "box : ${boxList}">
									<tr th:data-boxId="${box.calendarBoxId}">
										<td  th:if="${box.expressionYn == 1}" width="5%"><input class="calCheck" type="checkbox" checked></td>
										<td  th:if="${box.expressionYn == 0}" width="5%"><input class="calCheck" type="checkbox"></td>
										<td width="60%" th:text ="${box.calendarBoxName}"></td>
										<td width="30%" style="cursor:pointer"><div  class="colorBtn" th:id="${box.calendarBoxId}" th:style="'background-color:'+@{${box.color}}"></div></td>
									</tr>
								</th:block>
							</tbody>
						</table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 내 일정 카드 끝 -->
              <!-- 공유받은 일정 -->
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">공유받은 일정목록</h4>
                </div>
                <div class="card-body" style="position:relative">
                  <!-- the events -->
                  <div id="external-events">
                    <div class="checkbox">
						<table width = "100%">
							<tbody>
								<th:block th:each = "box : ${sharedList}">
									<tr th:data-boxId="${box.calendarBoxId}">
										<td  th:if="${box.expressionYn == 1}" width="5%"><input class="sharedCalCheck" type="checkbox" checked></td>
										<td  th:if="${box.expressionYn == 0}" width="5%"><input class="sharedCalCheck" type="checkbox"></td>
										<td width="60%">[[${box.calendarBoxName}]]([[${box.empName}]])</td>
										<td width="30%" style="cursor:pointer"><div  class="sharedColorBtn" th:id="${box.calendarBoxId}" th:style="'background-color:'+@{${box.color}}"></div></td>
									</tr>
								</th:block>
							</tbody>
						</table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 공유받은 일정 카드 끝 -->
              
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary">
              <div class="card-body p-0">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>

<!-- ./wrapper -->

<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery UI -->
<script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>
<!-- fullCalendar 2.2.5 -->
<script src="../plugins/moment/moment.min.js"></script>
<script src="../plugins/fullcalendar/main.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>

<!-- 플러그인 -->
<!-- moment lib -->
<script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>

<!-- fullcalendar bundle -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>

<!-- the moment-to-fullcalendar connector. must go AFTER the moment lib -->
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment@6.1.14/index.global.min.js'></script>
<!-- Page specific script -->
<script th:inline="javascript">
	
	const modal = $("#color-dialog");
	const colorBtn = $(".colorBtn");
	const sharedColorBtn = $(".sharedColorBtn");
	
	const pallete = $(".pallete")
	;
	
	$(".calCheck").click(function(event){
		let expressYn = $(event.target).is(':checked') ? 1 : 0;
		let boxId = $(event.target).closest('tr').attr('data-boxId')
		


		$.ajax({
			url: '/changeExpress',
			type: 'POST',	
			dataType: 'json',
			data: {
				calendarBoxId : boxId,
				expressionYn : expressYn
			},
			success: function(data) {
				makeCal();
				calendar.render();

			}
		});
	})
	
	$(".sharedCalCheck").click(function(event){
		let expressYn = $(event.target).is(':checked') ? 1 : 0;
		let boxId = $(event.target).closest('tr').attr('data-boxId')
		
		console.log(boxId, expressYn);


		$.ajax({
			url: '/changeSharedExpress',
			type: 'POST',	
			dataType: 'json',
			data: {
				calendarBoxId : boxId,
				expressionYn : expressYn
			},
			success: function(data) {
				makeCal();
				calendar.render();

			}
		});
	})
	
	
	
	pallete.click(function(event){
		let afterColor = event.target.dataset.color
		let changedId = event.target.parentNode.dataset.id
		
		let originType = event.target.parentNode.dataset.type
		
		console.log(originType);
		if(originType == 'original'){
			changeColor(afterColor, changedId);			
		}else if(originType == 'shared'){
			changedSharedColor(afterColor, changedId);			
		}
		
	});
	

	
	function changeColor(color, id){
		console.log(color, id)
		$.ajax({
				url: '/changedColor',
				type: 'POST',
				dataType: 'json',
				data: {
					calendarBoxId : id,
					color : color
				},
				success: function(data) {
					console.log(data);
					makeCal();
					calendar.render();
					changedColorBtn(color,id);
				}
		});
	}
	
	function changedSharedColor(color, id){
		console.log(color, id)
		$.ajax({
				url: '/changedSharedColor',
				type: 'POST',
				dataType: 'json',
				data: {
					calendarBoxId : id,
					color : color
				},
				success: function(data) {
					console.log(data);
					makeCal();
					calendar.render();
					changedColorBtn(color,id);
				}
		});
	}
	
	function changedColorBtn(color, id){
		$('#'+id).css({"background-color":color});
		modal.css({"display":"none"});
	}
	
	colorBtn.click(function(event){
		const rect = event.target.getBoundingClientRect();
		const relativeTop = rect.top;
		const relativeLeft = rect.left;

		modal.css({"display":"flex", "top":relativeTop + 10, "left":relativeLeft + 10});
		
		modal.attr('data-id', this.id);
		modal.attr('data-type', 'original')
	})
	
	sharedColorBtn.click(function(event){
		const rect = event.target.getBoundingClientRect();
		const relativeTop = rect.top;
		const relativeLeft = rect.left;

		modal.css({"display":"flex", "top":relativeTop + 10, "left":relativeLeft + 10});
		
		modal.attr('data-id', this.id);
		modal.attr('data-type', 'shared')
	})
	
	// 풀캘린더 작업
	/* initialize the external events
     -----------------------------------------------------------------*/
    function ini_events(ele) {
      ele.each(function () {

        // create an Event Object (https://fullcalendar.io/docs/event-object)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

    ini_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()
        


    var Calendar = FullCalendar.Calendar;
    var Draggable = FullCalendar.Draggable;

    var containerEl = document.getElementById('external-events');
    var checkbox = document.getElementById('drop-remove');
    var calendarEl = document.getElementById('calendar');

    // initialize the external events
    // -----------------------------------------------------------------

    new Draggable(containerEl, {
      itemSelector: '.external-event',
      eventData: function(eventEl) {
        return {
          title: eventEl.innerText,
          backgroundColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          borderColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          textColor: window.getComputedStyle( eventEl ,null).getPropertyValue('color'),
        };
      }
    });

	let calendar = null;
	function makeCal(){
		calendar = new Calendar(calendarEl, {
	    	// 날짜표시
	   	   titleFormat: 'yyyy년 MM월' ,
	      headerToolbar: {
	        left  : 'title',
	        right : 'prev,next today'
	      },
	      themeSystem: 'bootstrap',
	      //Random default events
	      eventSources : [{
	    	  events: function(info, successCallback, failureCallback){
	    		  $.ajax({
	  				url: '/calendar',
	  				type: 'POST',
	  				dataType: 'json',
	  				data: {

	  				},
	  				success: function(data) {

	  					let ydata = [];
	  					data.forEach(function(d){
	  						if(d.expressionYn == 1){	  		
		  						ydata.push(d);
		  					}
	  					})
	  					successCallback(ydata);
	  					
	  				}
	  			});
	    	  }
	      }],
	      locale : "ko",
	      displayEventTime : false,
	      editable  : false,
	      droppable : false, // this allows things to be dropped onto the calendar !!!
	      drop      : function(info) {
	        // is the "remove after drop" checkbox checked?
	        if (checkbox.checked) {
	          // if so, remove the element from the "Draggable Events" list
	          info.draggedEl.parentNode.removeChild(info.draggedEl);
	        }
	      }
	    });
	};
	//풀캘린더 end


  $(function () {

	makeCal();
    calendar.render();
    // $('#calendar').fullCalendar()

  })
</script>
</body>
</html>
