<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">	
  <link rel="stylesheet" href="../css/calendar.css">
  <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
</head>
<body>
	<div class="content-wrapper">
	
    <!-- Content Header (Page header) -->
    <section class="content-header" style="text-align:center">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          	
            <h1> <a href="calendar"><i style="font-size:large" class="fa-solid fa-chevron-left"></i></a>&emsp;일정등록</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <div>
    <section class="content" style="margin:auto">
    <form name="insertForm" method="post">
      <div class="row" >
        <div class="col-md-8" style="margin:auto">
          <div class="card card-primary">
            <div class="card-body" >
              <div class="form-group">
                <label for="title">일정 이름</label>
                <input id="title" type="text" class="form-control"  >
              </div>
               <div class="form-group">
                <input id="startDate" value="2024-06-26" type="date" class="form-control" style="width:12%;margin-left:16%">
                <input id="startTime" type="time" class="form-control" style="width:15%">
                <span style="font-size:x-large;">&emsp;~&emsp;</span> 
                <input id="endDate" type="date" class="form-control" style="width:12%">
                <input id="endTime" type="time" class="form-control" style="width:15%">	
              </div>
               <div class="form-group">
                <label for="calList">내 일정목록</label>
                <select id="calList" class="form-control">
                	<th:block th:each = "box : ${boxList}">
                		
                		<option th:id = "${box.calendarBoxId}" th:value ="${box.calendarBoxId}">[[${box.calendarBoxName}]]</option>
                	</th:block>
                </select>
              </div>
              <div class="form-group">
                <label for="location">장소</label>
                <input id="location" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" rows="10" class="form-control" ></textarea>
              </div>
              
  
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        
      </div>

      <!--  -->
      	<div class="row">
         <!-- <a href="#" class="btn btn-secondary">Cancel</a>  --> 
          <button style="width:7%" type="button" id="submitCal"class="btn btn-success float-center">등록</button>
   		</div>
        
        

     </form>
    </section>
    </div>
    <!-- /.content -->
  </div>
</body>
<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/6bf89e5241.js" crossorigin="anonymous"></script>
<script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="../dist/js/adminlte.min.js"></script>
<script>
	//현재날짜 구하는 함수
	function getTodayDate(){
		var curDate = new Date();
		var y = curDate.getFullYear();
		var m = curDate.getMonth() + 1;
		var d = curDate.getDate();
		
		var today = y+"-"+(("00"+m.toString()).slice(-2))+"-"+(("00"+d.toString()).slice(-2));
		
		return today;
	}
	
	
	
	//현재시간 구하는 함수
	function getCurTime(){
		var curTime = new Date();
		var h = curTime.getHours();
		var m = curTime.getMinutes();
		
		var time = (("00"+h.toString()).slice(-2)) + ":" + (("00"+m.toString()).slice(-2));
		return time;
	}
	
	//1시간 후 시간 구하는 함수
	function getLaterHourTime(){
		var curTime = new Date();
		var h = curTime.getHours()+ 1;
		var m = curTime.getMinutes();
		
		var time = (("00"+h.toString()).slice(-2)) + ":" + (("00"+m.toString()).slice(-2));
		return time;
	}
	
	let url = window.location.href;
	let params = new URL(location.href).searchParams;
	
	
	
	
		
	let today = getTodayDate();
	let time = getCurTime();
	let laterTime = getLaterHourTime();
	
	if(params.get("startDate")!=null){
		$('#startDate').val(params.get("startDate"));
		$('#endDate').val(params.get("startDate"));
	}else{
		$('#startDate').val(today);
		$('#endDate').val(today);
	}
	
	
	$('#startTime').val(time);
	$('#endTime').val(laterTime);
	


	$('#submitCal').click(function(){
		console.log($('#startDate').val() + ' ' + $('#startTime').val());
		console.log($('#title').val())
		if($('#title').val() == ''){
			$(document).Toasts('create', {
		        class: 'bg-danger',
		        title: '일정등록',
		        body: '일정이름을 입력해주세요.'
		      })
			return;
		}
		$.ajax({	
			url :'/insertCal',
			type :'POST',
			/* contentType :'application/json', */
			data : {
				start : $('#startDate').val() + ' ' + $('#startTime').val(),
				end : $('#endDate').val() + ' ' + $('#endTime').val(),
				title : $('#title').val(),
				content : $('#content').val(),
				calendarBoxId : $('#calList').val(),
				location : $('#location').val()
				
			},
			
		})
		.done(
				location.href='/calendar'
			)
 		.fail(
				function(a, err){
					console.log(err)
				}
				) 
		;
			
		
	})

	
	 
</script>
</html>