<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>자료실</title>
  <style type="text/css">
  	.modalDiv{
  		height:500px
  	}
	#modalA { 
	  color: black;
	  font-weight: bold;
	  text-decoration: none;
	}
	.title a{
	  color: black;
	  font-weight: bold;
	  text-decoration: none;
	}
  </style>
</head>
<body class="hold-transition sidebar-mini">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>자료실</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
            <div class="card card-primary card-outline">
              <div class="card-body">
					<button class="btn btn-outline-primary btn-block mb-3" type="button"
					data-bs-toggle="modal" data-bs-target="#dataFileUploadModal">파일 업로드</button>
		<!-- ======= Modal start ======= -->
			<div class="modal" id="dataFileUploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg modal-dialog-centered">
			    <div class="modal-content">
			    <!-- ======= 모달 header ======== -->	
			      <div class="modal-header">
			        <h1 class="modal-title fs-5" id="exampleModalLabel">파일업로드</h1>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			    <!-- ======= 모달 body ======== -->	
			      <div class="modal-body">
			      	<div class="modalDiv">
			      		<div class="form-group">
	                        <label>대상 자료실 선택</label>
	                        <select class="form-select dataSelect" name="dataSelect" aria-label="Default select example">
		                          <option value="개인">개인자료실</option>
		                          <option value="부서">부서자료실</option>
		                          <option value="공통">공통자료실</option>
	                        </select>
                        </div>
			        	<div class="mb-3">
					  	  <input type="text" class="form-control" id="fileTitle" placeholder="파일이름">
					    </div>
						<div class="input-group mb-3 uploadDiv">
							  <input class="form-control" type="file" name="uploadFile" multiple>
						</div>
						<div class="uploadResult">
						  <div>
							  <table class="table fileTable">
								 <thead>
									<tr>
										<th>파일명</th>
										<th>크기</th>
										<th>확장자</th>
										<th>삭제</th>							
									</tr>
								 </thead>
								 <tbody>
								 	<tr>
								 	
								 	</tr>
								 </tbody>
							  </table>
						  </div>	
						</div>	
			      	</div>
			      </div>
			<!-- ======= 모달 body ======== -->	
			      <div class="modal-footer">
			        <button class="btn btn-outline-primary insertBtn" type="button">등록</button>
			        <button type="button" class="btn btn-outline-secondary closeModal" data-bs-dismiss="modal">취소</button>
			      </div>
			    </div>
			  </div>
			</div>
		<!-- ================= Modal end================== -->
              <ul class="list-group nav nav-pills flex-column">
                <li class="nav-item active d1">
                  <a th:href="@{/dataCommon}" data-no="d1" class="nav-link">
                    <i class="fas fa-inbox"></i>　공통 자료실
                  </a>
                </li>
              </ul>
               <ul class="nav nav-pills flex-column">
                <li class="nav-item d2">
                  <a th:href="@{/dataDept}" data-no="d2" class="nav-link">
                    <i class="fas fa-inbox"></i>　부서 자료실
                  </a>
                </li>
              </ul>
               <ul class="nav nav-pills flex-column">
                <li class="nav-item d3">
                  <a th:href="@{/dataMe}" data-no="d3" class="nav-link">
                    <i class="fas fa-inbox"></i>　개인 자료실
                  </a>
                </li>
              </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">자료실</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="검색">
                  <div class="input-group-append">
                    <div class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                	<i class="far fa-square"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm deleteBtn">
                    <i class="far fa-trash-alt"></i>
                  </button>
                  
                 <!--  <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-share"></i>
                  </button> -->
                  
                </div>
                <!-- /.btn-group -->
                <div class="float-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-chevron-right"></i>
                    </button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.float-right -->
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover">
                  <thead>
                  	<tr>
                  		<th width="10%"></th>
                  		<th width="55%">제목</th>
                  		<th width="15%">파일크기</th>
                  		<th width="20%">등록날짜</th>
                  	</tr>
                  </thead>
                  <tbody class="tbody">
                  <th:block th:if="${datas.size() == 0}">
	                  <tr>
		                <td colspan="4" class="text-center">등록된 파일이 없습니다.</td>
		              </tr>
                  </th:block>
                  <th:block th:each="info : ${datas}">
                    <tr th:id="${info.dataId}">
                    	<td>
	                        <div class="icheck-primary">
	                           <input type="checkbox" th:value="${info.dataId}" th:id="'checkbox-' + ${info.dataId}" class="oneCheckbox">
	                           <label th:for="'checkbox-' + ${info.dataId}"></label>
	                        </div>
	                    </td>
	                    <td class="title"><a th:href="@{/selectData(dataId=${info.dataId})}">[[ ${info.title} ]]</a></td>
	                    <td class="size"></td>
	                    <td class="date">[[ ${#dates.format(info.registrateDate, 'yy.MM.dd')} ]]
	                    <input type="hidden" th:value="${info.attachmentGroupId}">
	                    </td>
	                  </tr>
                 	</th:block>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

 <!-- Control Sidebar -->
 <aside class="control-sidebar control-sidebar-dark">
 </aside>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script>
  $(function () {
    //Enable check and uncheck all functionality
    $('.checkbox-toggle').click(function () {
      var clicks = $(this).data('clicks')
      if (clicks) {
        //Uncheck all checkboxes
        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
        $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
      } else {
        //Check all checkboxes
        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
        $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
      }
      $(this).data('clicks', !clicks)
    })
  })
</script>

<script src="../../js/dataroom/data_file_insert.js"></script>
<script src="../../js/dataroom/data_info.js"></script>
<script src="../../js/dataroom/data_delete.js"></script>
</body>
</html>
