<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>메일 상세 페이지</title>
  <style>
  	.uploadResult{
  		height: 100%;
  		padding-left: 10px;
  		padding-bottom: 10px;
  		margin: 0px;
  	}
  	.uploadResult ul{
  		padding: 0;
  		margin: 0;
  	}
  	.li_style {
	    list-style-type: none;
	    padding-bottom: 3px;
	}
  </style>
</head>
<body class="hold-transition sidebar-mini">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>메일</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <a th:href="@{/mailInsert}" class="btn btn-primary btn-block mb-3">메일쓰기</a>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">메일함</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a th:href="@{/mailboxInfo(mailboxId=d1)}" class="nav-link">
                    <i class="fas fa-inbox"></i> 받은메일함
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/mailboxInfo(mailboxId=d2)}" class="nav-link">
                    <i class="far fa-envelope"></i> 보낸메일함
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/mailboxInfo(mailboxId=d3)}" class="nav-link">
                    <i class="far fa-file-alt"></i> 임시보관함
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/mailboxInfo(mailboxId=d4)}" class="nav-link">
                    <i class="fas fa-filter"></i> 스팸메일함
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/mailboxInfo(mailboxId=d5)}" class="nav-link">
                    <i class="far fa-trash-alt"></i> 휴지통
                  </a>
                </li>
              </ul>
            </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">[[ ${mail.mailboxName} ]]</h3>

            </div>
            <!-- /.mailbox-read-info -->
              <div class="mailbox-controls with-border">
                <div class="btn-group">
                 <!-- mailboxId 가 d5일때 완전 삭제 (delete) -->
                <th:block th:if = "${mail.mailboxId == 'd5'}">
               		 <button th:onclick="|location.href='@{/mailInfoDelete(mailId=${mail.mailId})}'|" type="button" 
               		 class="btn btn-default deleteInfoBtn"><i class="far fa-trash-alt"></i> 삭제</button>
                </th:block>
                 <!-- mailboxId가 d5가 아닐때 휴지통으로 이동 (update) -->
                <th:block  th:unless = "${mail.mailboxId == 'd5'}">
               		 <button th:value="${mail.mailId}" type="button" 
               		 class="btn btn-default moveTrashInfoBtn"><i class="far fa-trash-alt"></i> 삭제</button>
                </th:block>
                <th:block th:if = "${mail.mailboxId == 'd1'}">
               		<button th:onclick="|location.href='@{/replyMail(mailId=${mail.mailId})}'|" type="button" 
                          class="btn btn-default"><i class="fas fa-reply"></i> 답장</button>
                </th:block>
                  
                </div>
              </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-read-info">
                <h2>[[ ${mail.title} ]]</h2>
                <h6>보낸사람　:　[[ ${mail.sender} ]]</h6>
                <h6>받은사람　:　[[ ${mail.recipient}]]</h6>
                <!-- 참조가 있을때 -->
                <th:block th:if = ${!#lists.isEmpty(mail.cc)}>
                	<h6>참조　:　　　[[ ${mail.cc}]]</h6>
                </th:block>
                <h6>보낸날짜　:　[[ ${#dates.format(mail.sendDate, 'yy-MM-dd (E) HH:mm:ss')} ]]</h6>
	        	<!-- 첨부파일 -->
	        	<h6>첨부파일　:</h6>
	        	<div class="uploadResult">
				   <ul>
					
				   </ul>
				</div>		
              </div>
              <!-- /.mailbox-controls -->
              <div class="mailbox-read-message">
                <p th:utext="${mail.content}"></p>
                <p style=height:100px></p>
              </div>
              <!-- /.mailbox-read-message -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      </div><!-- /.container-fluid -->
      
      
      
      
      
      
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
<script th:inline="javascript">
	var mailId = /*[[ ${mail.mailId} ]]*/"";
	var empId = /*[[${#authentication.principal.userVO.empId}]]*/"";
</script>

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- ============= 휴지통으로 이동 ============= -->
<script src="../../js/mail/mail_trash.js" th:inline="javascript"></script>
<script src="../../js/mail/mail_file_info.js" th:inline="javascript"></script>

</body>
</html>
