<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>메일</title>
  <style>
  a.mailInfoLink:link{ 
  		color: black;
  }
  a.mailInfoLink:visited{
  		color: gray;
  }
  
  </style>
</head>
<body class="hold-transition sidebar-mini">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>메일</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
         <a th:href="@{/mailInsert}" class="btn btn-primary btn-block mb-3">메일쓰기</a>

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">메일함</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a th:href="@{/mailboxInfo(mailboxId=d1)}" data-no="d1" class="nav-link">
                    <i class="fas fa-inbox"></i> 받은메일함
                    <span class="badge bg-primary float-right">12</span>
                  </a>
                </li>
                <li class="nav-item" >
                  <a th:href="@{/mailboxInfo(mailboxId=d2)}" data-no="d2" class="nav-link">
                    <i class="far fa-envelope"></i> 보낸메일함
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/mailboxInfo(mailboxId=d3)}" data-no="d3" class="nav-link">
                    <i class="far fa-file-alt"></i> 임시보관함
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/mailboxInfo(mailboxId=d4)}" data-no="d4" class="nav-link">
                    <i class="fas fa-filter"></i> 스팸메일함
                    <span class="badge bg-warning float-right">65</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/mailboxInfo(mailboxId=d5)}" class="nav-link">
                    <i class="far fa-trash-alt"></i> 휴지통
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
             <h3 class="card-title">
              <th:block th:if = "${#strings.equals(param.mailboxId, 'd1')}">받은메일함</th:block>
              <th:block th:if = "${#strings.equals(param.mailboxId, 'd2')}">보낸메일함</th:block>
              <th:block th:if = "${#strings.equals(param.mailboxId, 'd3')}">임시보관함</th:block>
              <th:block th:if = "${#strings.equals(param.mailboxId, 'd4')}">스팸메일함</th:block>
              <th:block th:if = "${#strings.equals(param.mailboxId, 'd5')}">휴지통</th:block>
             </h3>

              <div class="card-tools">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="Search Mail">
                  <div class="input-group-append">
                    <div class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                </button>
                <div class="btn-group">
                  <!-- mailboxId 가 d5일때 삭제 (delete) -->
                  <th:block th:if = "${#strings.equals(param.mailboxId, 'd5')}">
                     <button type="button" class="btn btn-default btn-sm deleteBtn">
                        <i class="far fa-trash-alt"></i>
                     </button>
                  </th:block>
                  <!-- mailboxId가 d5가 아닐때 휴지통으로 이동 (update) -->
                  <th:block th:unless = "${#strings.equals(param.mailboxId, 'd5')}">
                  	 <button type="button" class="btn btn-default btn-sm moveTrashBtn">
                        <i class="far fa-trash-alt"></i>
                     </button>
                  </th:block>
                </div>
                  <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-reply"></i>
                  </button>
                <!-- mailboxId 가 d5일때 복구버튼 (update) -->
                <th:block th:if = "${#strings.equals(param.mailboxId, 'd5')}">
	                <button type="button" class="btn btn-default btn-sm moveRestoreBtn">
	                    <i class="fas fa-sync-alt"></i>
	                </button>
                </th:block>
                <!-- ================================= -->
                <div class="float-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-chevron-right"></i>
                    </button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.float-right -->
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover">
                  <thead>
                  	<tr>
                  		<th></th>
                  		<th>보낸사람</th>
                  		<th>제목</th>
                  		<th>보낸날짜</th>
                  	</tr>
                  </thead>
                  <tbody>
                  <th:block th:if="${mailboxInfo.size() == 0}">
	                  <tr>
		                <td colspan="4" class="text-center">메일이 없습니다.</td>
		              </tr>
                  </th:block>
                  <th:block th:each="in : ${mailboxInfo}">
	                 <tr>
	                   <td>
	                     <div class="icheck-primary">
	                       <input type="checkbox" th:value="${in.mailId}" th:id="${in.mailId}" class="oneCheckbox">
	                       <label th:for="${in.mailId}"></label>
	                     </div>
	                   </td>
	                   <!-- th:if="${mailboxId=d3}" -->
	                   <td class="mailbox-name"><a>[[ ${in.sender} ]]</a></td>
	                   <!-- d3(임시보관함)일때 draftMailUpdate 로 --> 
	                   <td th:if="${in.mailboxId =='d3'}" class="mailbox-subject">
	                   		<a th:href="@{/draftMailUpdate(mailId=${in.mailId})}" class="mailInfoLink">[[ ${in.title} ]]</a>
	                   <!-- d3이 아닐때 단건 조회 -->
	                   <td th:unless="${in.mailboxId =='d3'}" class="mailbox-subject">
	                     	<a th:href="@{/mailInfo(mailId=${in.mailId})}" class="mailInfoLink">[[ ${in.title} ]]</a>
	                   <td class="mailbox-date">[[ ${#dates.format(in.sendDate, 'yy-MM-dd HH:mm:ss')} ]]</td>
	                 </tr>
                 </th:block>
                   </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                  <i class="far fa-square"></i>
                </button>
                <div class="btn-group">
                  <!-- mailboxId 가 d5일때 삭제 (delete) -->
                  <th:block th:if = "${#strings.equals(param.mailboxId, 'd5')}">
                     <button type="button" class="btn btn-default btn-sm deleteBtn">
                        <i class="far fa-trash-alt"></i>
                     </button>
                  </th:block>
                  <!-- mailboxId가 d5가 아닐때 휴지통으로 이동 (update) -->
                  <th:block th:unless = "${#strings.equals(param.mailboxId, 'd5')}">
                  	 <button type="button" class="btn btn-default btn-sm moveTrashBtn">
                        <i class="far fa-trash-alt"></i>
                     </button>
                  </th:block>
                </div>
                  <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-reply"></i>
                  </button>
                <!-- mailboxId 가 d5일때 복구버튼 (update) -->
                <th:block th:if = "${#strings.equals(param.mailboxId, 'd5')}">
	                <button type="button" class="btn btn-default btn-sm moveRestoreBtn">
	                    <i class="fas fa-sync-alt"></i>
	                </button>
                </th:block>
                <div class="float-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                      <i class="fas fa-chevron-right"></i>
                    </button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.float-right -->
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 <!--  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer> -->

 <!-- Control Sidebar -->
 <aside class="control-sidebar control-sidebar-dark">
 </aside>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script>
  $(function () {
    //Enable check and uncheck all functionality
    $('.checkbox-toggle').click(function () {
      var clicks = $(this).data('clicks')
      if (clicks) {
        //Uncheck all checkboxes
        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
        $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
      } else {
        //Check all checkboxes
        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
        $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
      }
      $(this).data('clicks', !clicks)
    })

    //Handle starring for font awesome
    $('.mailbox-star').click(function (e) {
      e.preventDefault()
      //detect type
      var $this = $(this).find('a > i')
      var fa    = $this.hasClass('fa')

      //Switch states
      if (fa) {
        $this.toggleClass('fa-star')
        $this.toggleClass('fa-star-o')
      }
    })
  })
</script>
<script src="../../js/mail/mail_trash.js"></script>
</body>
</html>
