<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EmpInsert</title>
  <style>
  	
  
  </style>


  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>사원등록</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"> <input type="button" value="등록" id="insertBtn" class="btn btn-primary float-right"></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <form name="insertForm" th:action="@{/empInsert}" method="post" th:object="${emp}">
		
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">개인정보</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            
            <div class="card-body">
            
             
              <div class="form-group">
                <label for="empName">이름</label>
                <input type="text" class="form-control"  id="empName">
              </div>
               <div class="form-group">
                <label for="tel">연락처</label>
                <input type="text" class="form-control"  id="tel">
              </div>
              <div class="form-group">
                <label for="mail">이메일</label>
                <input type="text" class="form-control"  id="mail">
              </div>
               <div class="form-group">
                <label for="hireDate">입사일</label>
                <input type="date" class="form-control"  id="hireDate">
              </div>
              <div class="form-group">
                <label for="address">주소</label>
                <input type="text" class="form-control"  id="address"> <!-- 개인사진, 부서이름, 직위이름, 아이디 비번 -->
              </div>
              
              <div class="attachDiv">
              	<div class="input-group mb-3 uploadDiv">
	              <div class="form-group">
	                <label for="photo">개인사진</label>
	                <input type="file" class="form-control" id="photo" name="photo">
	              </div>
	              </div>
	              <div class="uploadResult mb-3">
						 <ul>
						
						 </ul>
					</div>	
              </div> 
              
              <div class="form-group">
                <label for="departmentName">부서</label>
                <select class="form-control select2" style="width: 100%;" id="departmentName">
                	<th:block th:each="dep : ${department}">
					    <option th:value="${dep.codeName}">  [[ ${dep.codeName} ]]</option>
				  	</th:block>
				</select>
				
              </div>
              <div class="form-group">
                <label for="posName">직위</label>
                <select class="form-control select2" id= "posName">
                	<th:block th:each="pos : ${position}">
					    <option th:value="${pos.codeName}">  [[ ${pos.codeName} ]]</option>
				  	</th:block>
                </select>
              </div>
 
  
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">계정정보</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
                <label for="accountId">아이디</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="accountId" style="width:70%">
               	<button type="button" id="idcheck" class="btn btn-secondary" style="float:right">중복확인</button>
              </div>
              <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="number" class="form-control" id="password" >
              </div>
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
      <input id="check" name="check" value="" type="hidden">

        
        
      </div>
     </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
<!-- ./wrapper -->


<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script type="text/javascript">
	var fileList = [];
	var fileData = [];
	var inputFile = $("input[name='uploadFile']");
	var files = inputFile[0].files;
	
	for(var i=0; i<files.length; i++) {
		fileData.push(files[i].name)
	}

</script>
<script src="../../js/attend/file_insert.js" th:inline="javascript"></script>
<script src="../../js/attend/file_insert_info.js" th:inline="javascript"></script>
<script>

	
	
	$('#insertBtn').on('click',  empInsertfunc);
	
	function empInsertfunc(){
		
		if($('#check').val() != 'c'){
			alert('아이디 중복체크 하세요');
		}else if($('#empName').val() == null || $('#empName').val() == ''){
			alert('이름을 입력하여 주세요');
		}else if($('#tel').val() == null || $('#tel').val() == ''){
			alert('전화번호를 입력하여 주세요');
		}else if($('#mail').val() == null || $('#mail').val() == ''){
			alert('이메일을 입력하여 주세요');
		}else if($('#hireDate').val() == null || $('#hireDate').val() == ''){
			alert('입사일을 입력하여 주세요');
		}else if($('#password').val() == null || $('#password').val() == ''){
			alert('비밀번호를 입력하여 주세요');
		}
		else{
			
			let empData = {
					empName : $('#empName').val()
					, tel : $('#tel').val()
					, mail : $('#mail').val()
					, hireDate : $('#hireDate').val()
					, address : $('#address').val()
					, photo : fileList[0].fileId
					, departmentName : $('#departmentName').val()
					, posName : $('#posName').val()
					, accountId : $('#accountId').val()
					, password : $('#password').val()
									
			}
			console.log(empData);
			
			$.ajax('empInsert',{
				type: 'post',
				contentType : 'application/JSON',
				data : JSON.stringify(empData)
			})
			.done(result=>{
					
					let url = '/empList';
					location.href=url;
				console.log(result);
			})
			.fail(err=>console.log(err));
		}
		
		
		
	}
	
	
	$('#idcheck').on('click',  idcheck);
	
	function idcheck(){
		let accountId = $('#accountId').val();
		
		let accountData = {
				accountId : accountId
		}
		
		$.ajax('checkId',{
			type: 'post',
			contentType : 'application/JSON',
			data : JSON.stringify(accountData)
		})
		.done(result=>{
				if(result > 0){
					alert('사용 불가능한 아이디')
				}else{
					alert('사용 가능')
					$("input[name='check']").val('c');
					
				}

		})
		.fail(err=>console.log(err));	
	}
	
	
</script>

</body>
</html>
