<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EmpList</title>
</head>
<body class="hold-transition sidebar-mini">
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          	<span>[[${#authentication.principal.userVO.empId}]]</span>
            <h1>사원정보리스트 출력</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/empList(dosearch='관리')}">Home</a></li>
              <li class="breadcrumb-item active">
              <input type="text" id="searchword"><button type="button"id="searchBtn" >검색</button>
              </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">접속한사람 : [[ ${accountId} ]]</h3>
          <h3 class="card-title">사원번호 : [[ ${eid} ]]</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 10%">
                          사원번호호
                      </th>
                      <th style="width: 10%">
                          사원이름
                      </th>
                      <th style="width: 10%">
                          부서
                      </th>
                      <th style="width: 10%">
                          전화번호
                      </th>
					  <th style="width: 10%">
                          이메일
                      </th>
                      <th>
                          Project Progress
                      </th>
                      <th style="width: 8%" class="text-center">
                          Status
                      </th>
                      <th style="width: 20%">
                      </th>
                  </tr>
              </thead>
              <tbody>
              	<th:block th:each="emp : ${empList}">
                  <tr th:onclick="|location.href='@{empInfo(empId=${emp.empId})}'|">
                      <td>
                          [[ ${emp.empId} ]]
                      </td>
                      <td>
                          <a>
                              [[ ${emp.empName} ]]
                          </a>
                          <br/>
                         <small>
                               [[ ${emp.posName} ]]
                          </small>
                      </td>
                      <td>
						[[ ${emp.departmentName} ]]
                      </td>
                      <td >
                          [[ ${emp.tel} ]]
                      </td>
					  <td >
                          [[ ${emp.mail} ]]
                      </td>
                      <td class="project-state">
                          <span class="badge badge-success">Success</span>
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="#">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>
                          <a class="btn btn-info btn-sm" href="#">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>
                  </tr>
                  
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div>
      	<button type="button" th:onclick="|location.href='@{empInsert}'|">등록</button>
      </div>

    </section>
    <!-- /.content -->
    <div id="page"  >
		<p>---------------------------여기 버튼달자---------------------------</p>
		<!-- 이전 버튼 -->
		<th:block th:if="${pg.prev}">
		    <li >
		        <a th:href="@{/empList(page=${pg.page-1})}" >이전</a>
		    </li>
		</th:block>
		
		<li>
		<th:block th:each="pages : ${#numbers.sequence(pg.startPage,pg.endPage)}">	    
		        <a th:href="@{/empList(page=${pages})}" th:text="${pages}"></a>
		</th:block>
		</li>
		
		<!-- 다음 버튼 -->
		<th:block th:if="${pg.next}">
		    <li >
		        <a th:href="@{/empList(page=${pg.page+1})}" >다음</a>
		    </li>
		</th:block>
	</div>
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script>
	//let searchword = document.getElementById('searchword').value; 
	$('#searchBtn').on('click',searchWord)
	
	function searchWord(){
		let searchword = document.getElementById('searchword') 
		let url = '/empList?dosearch=' + searchword.value;
		location.href=url;
	}
	
	
</script>



</body>
</html>
