<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EmpList</title>
  <style>
  	  .pagination {
        
    }
    .pagination .float-right {
        float: right; /* 오른쪽 정렬 */
    }
    
      select, #searchword {
	    border: 1px solid #ced4da;
   }
   

   
  
  </style>
  
</head>
<body class="hold-transition sidebar-mini">
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <div style="margin-right: 3%; margin-left: 3%">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>사원정보리스트</h1>
          </div>
          
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li>
              	<div class="input-group input-group-sm">
	              <select class="form-select-sm" id="searchType">
			          <option>전체</option>
			          <option value="name">이름</option>
			          <option value="department">부서</option>
				  </select>
	              <input type="text" id="searchword" class="form-control-sm">
	              <div class="btn btn-primary" id="searchBtn">
	                    <i class="fa fa-search" ></i>
                  </div>
                 </div>
              </li>
            </ol>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
        	<div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a data-no="d1" class="nav-link">
                    <i class="fa-solid fa-user"></i> 전체사원수
                    <span class="badge bg-primary "> [[ ${allcount} ]]</span> 
                  </a>
                </li>
                </ul>
                </div>
          <div class="card-tools">
            <button type="button" th:onclick="|location.href='@{empInsert}'|"  class="btn btn-primary">사원등록</button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-bordered projects">
              <thead class="thead-light">
                  <tr style="text-align:center;">
                      <th style="width: 10%">사원번호</th>
                      <th style="width: 10%">사원이름</th>
                      <th style="width: 10%">부서</th>
                      <th style="width: 10%">직위</th>
                      <th style="width: 10%">전화번호</th>
					  <th style="width: 10%">이메일</th>
					  <th style="width: 10%">주소</th>
					  <th style="width: 10%">입사일</th>
					  <th style="width: 10%">퇴사일</th>

                  </tr>
              </thead>
              <tbody>
              	<th:block th:each="emp : ${empList}" >
                  <tr th:onclick="|location.href='@{empInfo(empId=${emp.empId})}'|" style="text-align:center;">
                      <td>[[ ${emp.empId} ]]</td>
                      <td>[[ ${emp.empName} ]]</td>
                      <td>[[ ${emp.departmentName} ]]</td>
                      <td>[[ ${emp.posName} ]]</td>
                      <td>[[ ${emp.tel} ]]</td>
					  <td>[[ ${emp.mail} ]]</td>
                      <td>[[ ${emp.address} ]]</td>
                      <td>[[ ${#dates.format(emp.hireDate, 'yyyy-MM-dd')} ]]</td>
                      <td>[[ ${#dates.format(emp.expireDate, 'yyyy-MM-dd')} ]]</td>
                      
                  </tr>
                  
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div>
      	
      </div>

    </section>
    <!-- /.content -->
    <nav aria-label="Page navigation example">
    <div id="page"  style="text-align:center">
		<!-- 이전 버튼 -->
		<ul class="pagination justify-content-center"  >
		    <li  th:if="${pg.prev}">
		        <a th:href="@{/empList(page=${pg.page-1})}" class="page-link">이전</a>
		    </li>
		
			<li th:each="pages : ${#numbers.sequence(pg.startPage,pg.endPage)}" class="page-item">
			    	<a th:href="@{/empList(page=${pages})}" th:text="${pages}" class="page-link"></a>
			</li>
			
			<!-- 다음 버튼 -->
		    <li th:if="${pg.next}">
		        <a th:href="@{/empList(page=${pg.page+1})}" class="page-link">다음</a>
		    </li>
		    
		    <li style="float:right">
			    
		    </li>
		    
		</ul>
		
		
		
	</div>
  </nav>
  </div>
  <!-- /.content-wrapper -->
  </div>



  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script>
	//let searchword = document.getElementById('searchword').value; 
	$('#searchBtn').on('click',searchWord)
	
	function searchWord(){
		
		let searchType = $('#searchType').val();
		let searchword = document.getElementById('searchword')
		
		if(searchType != null){
			let url = '/empList?dosearch=' + searchword.value + '&searchOption=' + searchType;
			location.href=url;
		}else{
			let url = '/empList?dosearch=' + searchword.value;
			location.href=url;
		}
	}
	
	
</script>


</body>
</html>
