<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>empUpdate</title>

<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
	<form name="updateForm" th:object="${emp}">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
		 <div style="margin-right: 3%; margin-left: 3%">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h3>사원정보수정</h3>
						</div>
						<div class="col-sm-6">
							
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">

							<!-- Profile Image -->
							<div class="card card-primary card-outline">
								<div class="card-body box-profile">
									<div class="text-center" id="photop">	
									</div>

									<h3 class="profile-username text-center">[[ ${emp.empName}]]</h3>

									<ul class="list-group list-group-unbordered mb-3">
										<li class="list-group-item">
						                    <b>부서</b> <a class="float-right">[[ ${emp.departmentName} ]]</a>
						                  </li>
						                  <li class="list-group-item">
						                    <b>직위</b> <a class="float-right">[[ ${emp.posName} ]]</a>
						                  </li>
									</ul>

									<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->


						</div>
						<!-- /.col -->
						<div class="col-md-9">
							<div class="card">
								<div class="card-header p-2">
									<ul class="nav nav-pills">
										<li class="nav-item"><a class="nav-link" href="#settings"
											data-toggle="tab">Settings</a></li>
									</ul>
								</div>
								<!-- /.card-header -->
								<div class="card-body">

									<div class="tab-pane" id="settings">
										<form class="form-horizontal">
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">사원번호</label>
												<div class="col-sm-10">
													<input type="number" class="form-control"
														th:field="*{empId}" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">이름</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														th:field="*{empName}">
												</div>
											</div>
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">연락처</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" th:field="*{tel}">
												</div>
											</div>
											<div class="form-group row">
												<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
												<div class="col-sm-10">
													<input type="email" class="form-control" th:field="*{mail}">
												</div>
											</div>
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">입사일</label>
												<div class="col-sm-10">
													<input type="date" class="form-control"
														th:field="*{hireDate}" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">퇴사일</label>
												<div class="col-sm-10">
													<input type="date" class="form-control"
														th:field="*{expireDate}">
												</div>
											</div>
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">주소</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														th:field="*{address}">
												</div>
											</div>
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">부서</label>
												<div class="col-sm-10">
									                <select th:field="*{departmentName}">
									                	<th:block th:each="dep : ${department}">
														    <option th:value="${dep.codeName}">  [[ ${dep.codeName} ]]</option>
													  	</th:block>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">직위</label>
												<div class="col-sm-10">
													<select th:field="*{posName}">
														<th:block th:each="pos : ${position}">
															<option th:value="${pos.codeName}">[[${pos.codeName} ]]</option>
														</th:block>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">아이디</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														th:field="*{accountId}" readonly>
												</div>
											</div>
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">비밀번호</label>
												<div class="col-sm-10">
													<button type="button" class="btn btn-danger"
														th:onclick="|location.href='@{/resetPwd/${emp.empId}}'|">비밀번호초기화</button>
												</div>
											</div>



											<div class="form-group row">
												<div class="offset-sm-2 col-sm-10">
													<button type="button" class="btn btn-primary"
														id="updateBtn">저장</button>
													<button type="button" class="btn btn-info"
														th:onclick="|location.href='@{empInfo(empId=${emp.empId})}'|">뒤로</button>
												</div>
											</div>
										</form>
									</div>
									<!-- /.tab-pane -->


								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="float-right d-none d-sm-block">
				<b>Version</b> 3.1.0
			</div>
			<strong>Copyright &copy; 2014-2021 <a
				href="https://adminlte.io">AdminLTE.io</a>.
			</strong> All rights reserved.
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</form>			

<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
		
<script>
	$(document).ready(searchPhoto)
	
	function searchPhoto(){
		
		let empId = {
				empId : $('#empId').val()
		}
		
		$.ajax('searchphoto',{
			type: 'post',
			contentType : 'application/JSON',
			data : JSON.stringify(empId)
		})
		.done(result=>{
			
			$.ajax('selectphoto',{
				type: 'post',
				contentType : 'application/JSON',
				data : JSON.stringify(result)
			})
			.done(photo=>{
				
				let fileCallPath = encodeURIComponent(//
						photo.uploadPath +"/"+ photo.uploadFileName + "_" + photo.originFileName);
				
				let html = ""; // 2024/7/3 + "/"" + UUID(uploadFileName) + "_" + test1.png
				html += '<img src=/display?fileName='+fileCallPath 
						+ ' style="width:200px; height:200px" alt="개인사진"></img>';
						
				$('#photop').append(html);
				
			})
			.fail(err=>console.log(err));
				
			
			
		})
		.fail(err=>console.log(err));
		
	}
	
</script>
		

<script>
		$('#updateBtn').on('click', empUpdateAjax); //#updateBtn
		
		function empUpdateAjax(event){
			// 1) 보낼 데이터
			let info = getEmpInfo();
			
			// 2) AJAX
			$.ajax('empUpdate', {
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify(info)
				
			})
			.done(result => {
				if(result.result){
					alert('수정되었습니다.');
					
					let url = '/empInfo?empId=' + $('#empId').val();
					location.href=url;
				}else{
					alert('수정되지않았습니다.');
				}
			})
			.fail(err => console.log(err));
			
			
		};
		
		function getEmpInfo(){
			let formData = $('form[name="updateForm"]').serializeArray();
			console.log('1) serializeArray', formData);
			
			let objData = {};
			$.each(formData, (idx, input)=>{
				console.log('2) input', idx, input);
				objData[input.name] = input.value;
			});
			console.log('3) objData', objData);
			return objData;
		}
		
	
</script>
	
</body>
</html>
