<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <style>

  	.colorCir {
  		width : 10px; height : 10px;border-radius: 50%;
  		display : inline-block;
  		}

  	#approvalSec {
  		overflow-y : auto;
  		height : 300px;
  	}
  	#mailSec {
  		overflow-y : auto;
  		height : 300px;
  	}

  	#boardbody {
  		overflow-y : auto;
  	}
 
      
  	
  </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">

  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!--  <h1 class="m-0">Dashboard</h1> -->
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
        
        <div class="col-md-2">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">

                </div>

                <h3 class="profile-username text-center">[[ ${user.empName} ]]</h3>

                <p class="text-muted text-center">[[ ${user.departmentName} ]] ([[ ${user.posName} ]])</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                      <b>출근시간</b> 
                      	<a class="float-right" id="startTime2" th:if="${att} != null">[[ ${#dates.format(att.goTime, 'HH:mm:ss')} ]]</a>
                      	<a class="float-right" id="startTime" th:unless="${att} != null"></a>
                  </li>
                  <li class="list-group-item" id="endtimeli">
                  <b>퇴근시간</b> 
                     <th:block th:if="${att} != null">
                     	<a class="float-right" id="endTime2">[[ ${#dates.format(att.leaveTime, 'HH:mm:ss')} ]]</a>
                     </th:block>
                     <th:block th:unless="${att} != null ">
                     	<a class="float-right" id="endTime"></a>
                     </th:block>
                  </li>
                  <li class="list-group-item" >
                    	<button id="goworkBtn" th:if="${att} == null">출근</button>
                    	<button id="goworkBtn" disabled='disabled' th:unless="${att} == null">출근</button>
                   		<button class="float-right" id="gohome" th:if="${att} != null and ${att.outYn} == 1">퇴근</button>
                    	<button class="float-right" id="gohome" disabled='disabled' th:unless="${att} != null and ${att.outYn} == 1">퇴근</button>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block" id="dis"></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            
            <div id="nudge"></div>
			<div id="startLat"></div>
			<div id="startLon"></div>

            <!-- About Me Box -->
            <div class="card card-primary">
              
            </div>
            <!-- /.card -->
          </div>
        
        	<!-- 모달창: 퇴근 확인 -->
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title">퇴근 확인</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	               <p id ="modal1p1"></p>
	               <p id ="modal1p2"></p>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary" id ="currentGeoLocation2">네</button>
	                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >아니오</button>
	            </div>
	        </div>
	    </div>
	</div>
	
	<!-- 모달창: 출근 확인 -->
	<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title">출근 확인</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	               <p id ="modal2p1"></p>
	               <p id ="modal2p2"></p>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary" id ="currentGeoLocation">네</button>
	                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >아니오</button>
	            </div>
	        </div>
	    </div>
	</div>
	
	
        <section class="col-lg-5 ">
            <!-- DIRECT CHAT -->
            <div class="card direct-chat direct-chat-primary">
              <div class="card-header">
                <h3 class="card-title">메일</h3>
              </div>
              <!-- /.card-header -->


            <!-- TO DO List -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  받은 메일함
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" id="mailSec">

                <ul class="todo-list" data-widget="todo-list">
	                  <li th:if="${#lists.size(mailboxInfo) == 0}">
	                    <!-- drag handle -->
	                    <span class="handle">
	                      <i class="fas fa-ellipsis-v"></i>
	                      <i class="fas fa-ellipsis-v"></i>
	                    </span>
	
	                    <!-- todo text -->
	                    <span class="text"> 메일이 없습니다 </span>
	                    <span class="text"></span>
	                    <!-- Emphasis label -->
	                    <!-- General tools such as edit or delete-->
	                    <div class="tools">
	                      <i class="fas fa-edit"></i>
	                      <i class="fas fa-trash-o"></i>
	                    </div>
	                  </li>
	                  
               	<th:block th:unless="${#lists.size(mailboxInfo) == 0}" >
               	
	                  <li th:onclick="|location.href='@{/mailInfo(mailId=${num.mailId})}'|" th:each="num : ${mailboxInfo}" th:style="${'cursor: pointer'}">
	                    <!-- drag handle -->
	                    <span class="handle">
	                      <i class="fas fa-ellipsis-v"></i>
	                      <i class="fas fa-ellipsis-v"></i>
	                    </span>
	
	                    <!-- todo text -->
	                    <span class="text">[[ ${num.sender} ]] /  </span>
	                    <span class="text">[[ ${num.title} ]]</span>
	                    <!-- Emphasis label -->
	                    <small class="badge badge-danger"><i class="far fa-clock"></i> [[ ${#dates.format(num.sendDate, 'MM.dd HH:mm:ss')} ]]</small>
	                    <!-- General tools such as edit or delete-->
	                    <div class="tools">
	                      <i class="fas fa-edit"></i>
	                      <i class="fas fa-trash-o"></i>
	                    </div>
	                  </li>
	            </th:block>
	                
                </ul>
	            

              </div>

            </div>
            
            
            

            
            <!-- /.card -->
            </div>
            

            
          </section>
    	
    	
    	  <section class="col-lg-5" style="height:400px">
			            <!-- DIRECT CHAT -->
            <div class="card direct-chat direct-chat-primary" style="height:350px">
              <div class="card-header" >
                <h3 class="card-title">공지 게시판</h3>
              </div>
              <!-- /.card-header -->


            <!-- TO DO List -->
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body">
				<table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width:100px; text-align:center;">글 번호</th>
                      <th style="text-align: center">게시글 제목</th>
                    </tr>
                  </thead>
                  <tbody>
                 	<th:block th:each="list : ${postUpMain}">
                    <tr>
                      <td>[[ ${list.postId} ]]</td>
                      <td>
                      <!--/*<a th:href="@{list()}"></a>  */-->
                      <a th:href="@{postInfo(postId=${list.postId})}">
                       [[ ${list.title} ]]
                      </a>
                        
                      </td><!-- content에 글자수 제한 걸기 기능을 넣기 -->
                    </tr>
                    </th:block>     
                  </tbody>
                </table>
               
              </div>

            </div>
            <!-- /.card -->
            </div>
            

          </section>
    	
    	  
    
         
         
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          
          <section class="col-lg-2 " style="height:300px">
			            <!-- DIRECT CHAT -->
            <div class="card direct-chat direct-chat-primary" style="height:300px">
              <div class="card-header" >
                <h3 class="card-title">오늘 일정</h3>
              </div>
              <!-- /.card-header -->


            <!-- TO DO List -->
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body">

                <ul class="todo-list" data-widget="todo-list">
				
                <th:block th:each="list : ${clist}">
                  <th:block th:if="${#strings.substring(list.start, 0, 10) == #dates.format(#dates.createToday(), 'yyyy-MM-dd')}">
                   <li th:onclick="|location.href='calendar'|" th:style="${'cursor: pointer'}">
						<div class="colorCir" th:style="'background-color:'+@{${list.color}}"></div>
                    <span class="text">[[ ${list.title} ]]</span>
                    <span class="text startTime" th:text="${#strings.substring(list.start, 11, 16)}"></span> ~
                    <span class="text endTime" th:text="${#strings.substring(list.end, 11, 16)}"></span>
                    <!-- Emphasis label -->
                    <!-- General tools such as edit or delete-->

                  </li>
                  </th:block>
                  
                </th:block>
                </ul>
              </div>

            </div>
            <!-- /.card -->
            </div>
          



          </section>
          
          <!-- 오른쪽 -->
          <section class="col-lg-5" >
			            <!-- DIRECT CHAT -->
            <div class="card direct-chat direct-chat-primary">
              <div class="card-header">
                <h3 class="card-title">결재</h3>

               
              </div>
              <!-- /.card-header -->


            <!-- TO DO List -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  결재 대기 문서
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" id="approvalSec">

                <ul class="todo-list" data-widget="todo-list">
	                <th:block th:if="${#lists.size(waitDocList) == 0}">
	                  <li>
	                    <!-- drag handle -->
	                    <span class="handle">
	                      <i class="fas fa-ellipsis-v"></i>
	                      <i class="fas fa-ellipsis-v"></i>
	                    </span>
	
	                    <!-- todo text -->
	                    <span class="text"> 결재할 문서가 없습니다 </span>
	                    <span class="text"></span>
	                    <!-- Emphasis label -->
	                    <!-- General tools such as edit or delete-->
	                    <div class="tools">
	                      <i class="fas fa-edit"></i>
	                      <i class="fas fa-trash-o"></i>
	                    </div>
	                  </li>
		             </th:block>
                
               	<th:block th:unless="${#lists.size(waitDocList) == 0}">
	                <th:block th:each="doc : ${waitDocList}">
	              	
	                  <li th:onclick="|location.href='@{docInfo(docId=${doc.docId})}'|" th:style="${'cursor: pointer'}">
	                    <!-- drag handle -->
	                    <span class="handle">
	                      <i class="fas fa-ellipsis-v"></i>
	                      <i class="fas fa-ellipsis-v"></i>
	                    </span>
	
	                    <!-- todo text -->
	                    <span class="text">[[ ${doc.draftEmp} ]] /  </span>
	                    <span class="text">[[ ${doc.approvalTask} ]] /  </span>
	                    <span class="text">[[ ${doc.docTitle} ]]</span>
	                    <!-- Emphasis label -->
	                    <small class="badge badge-danger"><i class="far fa-clock"></i> [[ ${#dates.format(doc.draftDate, 'yyyy-MM-dd')} ]]</small>
	                    <!-- General tools such as edit or delete-->
	                    <div class="tools">
	                      <i class="fas fa-edit"></i>
	                      <i class="fas fa-trash-o"></i>
	                    </div>
	                  </li>
	                  </th:block>
	            </th:block>
	            

	 
                  
                

                </ul>
              </div>

            </div>
            <!-- /.card -->
            </div>

          </section>
          
          
          <section class="col-lg-5" style="height:400px">
			            <!-- DIRECT CHAT -->
            <div class="card direct-chat direct-chat-primary" style="height:400px">
              <div class="card-header" >
                <h3 class="card-title">[[${#authentication.principal.userVO.departmentName}]]팀 게시판</h3>
              </div>
              <!-- /.card-header -->


            <!-- TO DO List -->
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body" >
              <div >
				<table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>제목</th>
                      <th>작성자</th>
                      <th>조회수</th>
                      <th>추천수</th>
                    </tr>
                  </thead>
                   <tbody id="noticeList" th:fragment="noticeList" >
                    <tr th:each= "list : ${postMain}">
                      <td>[[${list.postId}]]</td>
                      <td>
                      <a th:href="@{postInfo(postId=${list.postId})}">
                       [[ ${list.title} ]]
                      </a>
                      </td>
                      <td>[[${list.empName}]]</td>
                      <td>[[${list.viewCnt}]]</td>
                      <td>[[${list.recommendCnt}]]</td>
                    </tr >
                  </tbody>
                </table>
               </div>
              </div>

            </div>
            <!-- /.card -->
            </div>
            

          </section>
          
         

        </div>
        <!-- ---------------------------------- -->

       
        
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>예담직업 전문 학교</strong>
    <div class="float-right d-none d-sm-inline-block">
      
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->


<!-- jQuery UI 1.11.4 -->
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>

<!-- ChartJS -->
<script src="plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard.js"></script>
<script src="dist/js/pages/mainjs.js"></script>
<script th:inline="javascript">
$(document).ready(mailList('d1'))


function mailList(mailboxId){
			$('#mailTbody').empty();
			$('.deleteGroup').empty();
			 $.ajax({
			 url: 'mailboxInfo',
			 data: {
				 mailboxId: mailboxId
				 }
			 })
			 .done(result=>{ 
				 if(result.info.length == 0){
					 appendEmptyMailList();
				 } else {
					 resultMailList(result, mailboxId);
				 }
				 
				 
				 mailDeleteBtn(mailboxId);
			 })
	}
	
//메일이 없을 경우
function appendEmptyMailList(){
	let tr = ` <tr>
                 <td colspan="4" class="text-center">메일이 없습니다.</td>
                </tr>`
     $('#mailTbody').append(tr);
}




</script>
</body>
</html>
